<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>CSU Scheduler - Course Scheduler for Colorado State University</title>
    <meta name="description" content="Course Scheduler for Colorado State University. Create, save, share, and export all your schedule combinations.">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="loading">
      Loading Pure Awesomeness...
    </div>
    
    <div id="app">
      
      <div class="left">
        <table>
          <thead>
            <tr id="schedThead">
              <td class="time"></td>
	      <!--
		  <td for="day in daylist(false)" text="day"></td>
		  -->
            </tr>
          </thead>
          <tbody id="schedTbody">
	    <!--
            <tr v-once for="hour in [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
              <td text="((hour - 1) % 12 + 1) + ':00'" class="time"></td>
              <td for="day in daylist(true)" class="block">
                <div class="wrapper">
                  <div class="wrapperInternal" data-hour="hour" data-day="day">
                  </div>
                  <div></div>                               
                  <div></div>                               
                </div>
              </td>
            </tr>
	    -->
          </tbody>
        </table>
      </div>

      <div class="right">
        <!--<img src="https://web.stevens.edu/scheduler/stevens-logo-100px.jpg" /><br><br>-->
	<span class="title">Mode</span>
	<br>
        <input id="Manual" name="mode" type="radio" value="Manual" onchange="app.fillSearch(this); app.autoConstruct(app.selected.concat(app.courses[app.course])).get(0);" checked="checked"> Manual
	<br>
        <input id="Automatic" name="mode" type="radio" value="Automatic" onchange="app.fillSearch(this); app.autoConstruct(app.selected.concat(app.courses[app.course])).get(0);"> Automatic
	<br>
	<div v-if="mode == 'Automatic' && !!selected.concat(courses[course])[0]" style="display: inline-block">
	  <input id="Range" oninput="app.fillSchedule(this)" type="range" min="0" max="0" v-model="course_list_selection" style="width: 66%;">
	  <button onclick="app.genNext()" style="width: 30%;float: right;">{{ (courses_generator ? courses_generator.done : false) ? "Loop" : "Next" }}</button>
	</div>
	<span class="title">Term</span>
        <select v-model="term" @change="changedTerm">
          <option v-for="term in terms" :value="term" v-text="term.description"></option>
        </select>
        <div v-show="courses.length">
          <span class="title">Courses</span>
          <input id="searchBox" oninput="app.hideSearch()" v-model="search" placeholder="Search for a course..." style="width: 100%;">
          <select id="selectBox" onchange="app.fillSchedule()" size="25" v-model="course">
	    <!-- options are filled in automatically -->
          </select>
          <input onclick="app.hideSearch(this); app.fillSchedule(this)" type="checkbox"> Closed
          <br>
          <span v-if="course" class="hint">Press esc to cancel selection</span>
          
          <br><br>
          
          <span class="title">Total Credits:</span> {{ totalCredits }}<br><br>

          <div v-if="webclasses(selected.concat(courses[course])).length">
            <span class="title">Web Classes</span>
            <div class="selectedList">
              <div v-for="c in webclasses(selected.concat(courses[course]))" @dblClick="click(c)" :class="{selected: c != courses[course] }">
                {{ c.subject }} {{ c.courseNumber }}: {{ c.courseTitle.replace(/&ndash;/g, "–") }}<br> 
                {{ genFaculty(c) }}<br> 
                {{ (c.scheduleTypeDescription == "Laboratory" ? 0 : c.creditHours ? c.creditHours : c.creditHourLow ? (c.creditHourHigh ? c.creditHourLow.toString() + '-' + c.creditHourHigh.toString() : c.creditHourLow) : c.creditHourHigh ? c.creditHourHigh : 0) + ' credit' + ( (c.scheduleTypeDescription == "Laboratory" ? 0 : c.creditHours ? c.creditHours : c.creditHourLow ? (c.creditHourHigh ? c.creditHourLow.toString() + '-' + c.creditHourHigh.toString() : c.creditHourLow) : c.creditHourHigh ? c.creditHourHigh : 0) != 1 ? 's' : '') }}<br>
                {{ Math.max(0, c.seatsAvailable) + '/' + c.maximumEnrollment }} seats open <br>
                {{ c.courseReferenceNumber }}<br>
                <a class="link" @click="fetchDescription(c)">Description </span></a>
</div>
</div>
</div>
</div>
<div v-show="!courses.length" class="loadingCourses">Loading Courses... {{ percent }}</div>

<br><br>

* Open seats can take up to two hours to update during peak registration hours
</div>

<div class="footer">
  <div id="saves">
  </div>
  <div class="floatRight">
    <div v-if="(justLoaded || changed) && selected.length" class="option" @click="save">
      Save
    </div>
    <div v-if="changed && currentstorage && selected.length" class="option" @click="discard">
      Discard Changes
    </div>
    <div v-if="currentstorage" class="option" @click="saveNew">
      Save as New
    </div>
    <div v-if="currentstorage" class="option" @click="deleteSchedule">
      Delete
    </div>
    <div v-if="selected.length" class="option" @click="showExport = true">
      Export
    </div>
    <div v-if="selected.length" class="option" @click="clear">
      New
    </div>
  </div>
</div>
<div class="export" name="export" v-if="showExport" @click="showExport = $event.target.attributes.name == undefined">
  <div class="wrapper">
    Share link:<br>
    <input type="text" :value="'file:///home/notroot/Desktop/csuscheduler/index.html' + getHash()"><br><br>
    Course List:<br>
    <textarea v-text="selected.map(function(c) { return c.courseReferenceNumber + ': ' + c.subject + ' ' + c.courseNumber }).join('\n')"></textarea>
  </div>
</div>
<div class="description" name="description" v-if="description" @click="($event.target.attributes.name == undefined) ? null : description = null">
  <div class="wrapper">
    <strong>{{ description.subject }} {{ description.courseNumber }}:</strong><br><br>
    <span v-if="!description.description">Fetching description...</span>
    <span v-else style="white-space: pre-wrap;">{{ description.description }}</span>
  </div>
</div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
<script src="./script.js?v=1.07" charset="utf-8"></script>
<script src="./index.js?v=1.07" charset="utf-8"></script>
</body>

</html>
