#loading {
    color: #333;
}

.footer {
    background: #eee;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .5);
}

.right {
    border-left: 1px solid gray;
}

table tbody td {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
}

table .time {
    background: #eee;
}

table thead tr {
    background: #eee;
}

table .block .wrapper>div {
    border-bottom: 1px dashed #ddd;
}

table .item {
    background: rgba(47, 130, 224, 0.4);
    border: 1px solid #000;
}

table .item.selected {
    background: rgba(47, 224, 82, 0.8);
}

table .item.selected.hovering {
    background: rgba(222, 104, 73, 0.8);
}

.selectedList {
    border: 1px solid #ccc;
}

.selectedList div {
    background: rgba(47, 130, 224, .4);
}

.selectedList div.selected {
    background: rgba(47, 224, 82, .8);
}

.selectedList div.selected:hover {
    background: rgba(222, 104, 73, 0.8);
}

.footer .option {
    background: #aaa;
}

.footer .option.selected {
    background: rgba(47, 224, 82, .8);
}

.link {
    border-bottom: 1px solid grey;
}

.export, .description {
    background: rgba(0, 0, 0, .5);
}

.export .wrapper, .description .wrapper {
    background: #fff;
}
